* {
    margin:0;
    padding:0;
}

html {
     font-size:16px;
}

body{
    background-color: #E5E5E5;
}

header {
    /*height: 100vh;*/
    width: auto;
    background-color: #000000;
    background-image: url(.../images/header-back.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    text-align:left ;
    margin-top: 0px;
    padding-bottom: 60px;
    padding-top: 10px;
}


.side-image{
    width:100%;

}

/*.movements { } */


article {
    display:flex;
}

figure {
    width:33.333333%;
}

.article-content{
    width: 66.666666%;
    margin-right: 20px;
    margin-left: 30px;
}

h1 {
    font-size:3rem;
    color:white;
    font-family:'Libre Barcode 39 Text', cursive;
}
 h2{
     font-size:2rem;
     font-family:Libre+Barcode+39+Text;
 }
 
.flex-container {
    display:flex;
    justify-content: space-around;
    background-color:black;
    padding-bottom: 5px;
    
}

.flex-container li {
    margin-right: 10px;
}

#copyright {
	left: 10px;
	bottom:500px;
	background-color: black;
	color: gray;
	text-align: center;
	margin-top: 50px;
	
}



*/
/*header {*/
/*	margin-top: 1000px;*/
/*	position: relative;*/
/*	top: 120px;*/
/*	text-align: center;*/
	/*height: 250px;*/
/*	background-image: url(../Img/Header.jpg);*/
/*	background-repeat: no-repeat;*/
/*	background-size: cover;*/


